footer.footer.py-3.text-center.mt-auto
  hr
  a(href='https://github.com/garavagnofacundo/blog35' target='_blanck' class='text-center' style='font-size: 40px; color: grey;')
    i(class='fa fa-github')
    p.text-center.text-muted Blog Garavagno Facundo